@media only screen 
and (min-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.25rem;
	}
}

@media (min-width: 640px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.5rem;
	}
}

@media (min-width: 960px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
	}
}

@media (min-width: 1100px) {
	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3rem;
	}
}

@media only screen and (max-width:1060px) {
  .about {
    width: 67%;
  }
}

@media only screen and (max-width:768px) {
  .about {
    width: 80%;
  }
}

@media only screen and (max-width:375px) {
  .about {
    width: 100%;
  }
}