.primary-header {
  margin: 0;
  font-size: 10.5rem;
  color: #fff;
  letter-spacing: 4px;
}

@media only screen and (max-width:62.5em) {
  .primary-header {
    font-size: 8rem;
  }
}

@media only screen and (max-width:44.375em) {
  .primary-header {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width:31.25em) {
  .primary-header span {
    display: block;
  }
}

.primary-sub {
  color: #94a4b4;
  line-height: 1;
  font-size: 3rem;
  display: block;
}

@media only screen and (max-width:44.375em) {
  .primary-sub {
    font-size: 2rem;
  }
}

.primary-sub__word {
  display: inline-block;
  vertical-align: top;
  margin: 0 .5rem;
  height: 4rem;
  overflow: hidden;
}

@media only screen and (max-width:44.375em) {
  .primary-sub__word {
    height: 2.5rem;
    margin: 0 .3rem;
  }
}

.primary-sub__word * {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.primary-sub__word__bottom {
  visibility: hidden;
}

.primary-sub__word--active * {
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

@media only screen and (max-width:44.375em) {
  .primary-sub__word--active * {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
}

.primary-sub__word--active .primary-sub__word__bottom {
  visibility: visible;
}

.primary-sub__top {
  margin-bottom: 1rem;
}

.primary-sub__bottom {
  color: #5b6570;
}

.button {
  display: block;
  margin: auto;
  margin-top: 8rem;
  height: 5rem;
  width: 16rem;
  overflow: hidden;
  text-decoration: none;
}

.button * {
  -webkit-transition: all .15s;
  transition: all .15s;
  display: block;
  width: 100%;
  height: 4.5rem;
  line-height: 1;
  font-size: 2rem;
  border: 2px solid #fff;
  background-color: #22262a;
  color: #fff;
  font-family: Staatliches,sans-serif;
}

.button_bottom {
  margin-top: 1rem;
  background-color: #fff;
  color: #22262a;
}

.button:hover * {
  -webkit-transform: translateY(-5.5rem);
  transform: translateY(-5.5rem);
  cursor: pointer;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 86rem;
  text-align: center;
  opacity: 1;
  visibility: visible;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@media only screen and (max-width:62.5em) {
  .about {
    width: 85%;
  }
}

@media only screen and (max-width:44.375em) {
  .about {
    width: 75%;
  }
}

.rotate {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%,-50%) rotate(8deg);
  transform: translate(-50%,-50%) rotate(8deg);
}

.secondary-header {
  font-size: 4rem;
  color: #fff;
  letter-spacing: 2px;
}

.secondary-header,.secondary-sub {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.secondary-sub {
  font-family: Inconsolata,sans-serif;
  font-size: 1.6rem;
  color: #94a4b4;
  display: inline-block;
  margin: 1.2rem 0;
  line-height: 1.5;
}

.project {
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  opacity: 1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  visibility: visible;
}

.project__item {
  position: relative;
}

.project:hover .project__overlay {
  opacity: 1;
  visibility: visible;
}

.project:hover .project__img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project__img {
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.project__img--modal {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width:45em) {
  .project__img--modal {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent,rgba(0,0,0,.5));
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.project__buttons {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

@media only screen and (max-width:31.25em) {
  .project__buttons {
    bottom: .5rem;
  }
}

.project__button {
  display: inline-block;
  text-decoration: none;
  color: #22262a;
  font-family: Staatliches,sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 0 1rem;
  background-color: hsla(0,0%,100%,.8);
  border: none;
  border-radius: 3px;
  padding: .5rem 2rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media only screen and (max-width:31.25em) {
  .project__button {
    font-size: 1.6rem;
  }
}

.project__button:disabled,.project__button:disabled:hover {
  background-color: hsla(0,0%,100%,.4);
  cursor: default;
}

.project__button svg {
  margin-right: .5rem;
}

.project__button:active,.project__button:focus,.project__button:hover {
  background-color: #fff;
}

.project__button--modal {
  margin: 2rem .5rem 0 .5rem;
  font-size: 1.4rem;
  padding: .5rem 1.5rem;
}

.project__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s cubic-bezier(.175,.885,.32,1.275);
  transition: all .4s cubic-bezier(.175,.885,.32,1.275);
}

.project__background--show {
  opacity: 1;
  visibility: visible;
}

.project__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100rem;
  height: 50rem;
  background-color: #343a41;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  opacity: 0;
  -webkit-transition: all .4s cubic-bezier(.175,.885,.32,1.275) .2s;
  transition: all .4s cubic-bezier(.175,.885,.32,1.275) .2s;
  -webkit-transform: translate(-50%,-50%) scale(.25);
  transform: translate(-50%,-50%) scale(.25);
}

.project__modal--show {
  opacity: 1;
  -webkit-transform: translate(-50%,-50%) scale(1);
  transform: translate(-50%,-50%) scale(1);
}

@media only screen and (max-width:56.25em) {
  .project__modal {
    width: 95%;
    min-height: 50rem;
  }
}

@media only screen and (max-width:45em) {
  .project__modal {
    width: 43rem;
    height: auto;
  }
}

@media only screen and (max-width:25em) {
  .project__modal {
    width: 38rem;
  }
}

.project__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
  color: #94a4b4;
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: all .2s cubic-bezier(.175,.885,.32,1.275);
  transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}

.project__close:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.project__left {
  width: 60rem;
  height: 100%;
  display: inline-block;
}

@media only screen and (max-width:56.25em) {
  .project__left {
    width: 55%;
  }
}

@media only screen and (max-width:45em) {
  .project__left {
    width: 100%;
    height: auto;
  }
}

.project__right {
  width: calc(100% - 60.5rem);
  display: inline-block;
  vertical-align: top;
  padding: 1.5rem;
  color: #fff;
}

@media only screen and (max-width:56.25em) {
  .project__right {
    width: 45%;
  }
}

@media only screen and (max-width:45em) {
  .project__right {
    width: 100%;
  }
}

.project__label {
  font-size: 1.6rem;
  color: #94a4b4;
  letter-spacing: 1px;
}

.project__name {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: lighter;
}

.project__technologies {
  list-style: none;
  margin-bottom: 2rem;
}

.project__technology {
  display: inline-block;
  margin: .5rem;
  border: 1px solid #22262a;
  padding: .5rem;
  color: #94a4b4;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.project__summary {
  margin-top: 1rem;
  font-family: Inconsolata,sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #94a4b4;
  overflow-y: scroll;
  height: 22rem;
  white-space: pre-line;
}

.project__summary::-webkit-scrollbar-track {
  background-color: #252a2e;
}

.portfolio {
  margin-top: 4rem;
}

.slide-left {
  -webkit-transform: translateX(-5rem);
  transform: translateX(-5rem);
}

.slide-left,.slide-right {
  opacity: 0;
  visibility: hidden;
}

.slide-right {
  -webkit-transform: translateX(5rem);
  transform: translateX(5rem);
}

.slide-top {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
  transform: translateY(-5rem);
}