@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web&display=swap);

@import url(https://fonts.googleapis.com/css?family=Staatliches&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background: url(../images/bg.png) no-repeat center center fixed;
	background-size: cover; */
	background-color: #171a1d;
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; */
	font-size: 80%;
	font-family: 'Titillium Web', monospace ;
	/* font-family: 'Noto Sans', sans-serif ; */
	
}

h1 {
	color: #ffff;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 0px;
	/* text-shadow: 1px 1px #000000; */
	

}

h2 {
	color: #cccccc;
	/*font-size: 2rem;*/
	margin-top: 0px;
	/* text-shadow: 1px 1px #000000; */
}

.bio {
	color: #cccccc;
	font-family: 'Titillium Web', sans-serif ;
	font-size: 1rem;
	/* text-shadow: 1px 1px #000000; */
	margin-top: 0px;

}

img {
	max-width: 20%;
	
	
}

.me {
	/* border-radius: 40%; */
	/* border-style: solid;
	border-color: white; */
	margin-top: 40px;
	margin-bottom: 0px;

	/* object-fit: cover;
	object-position: 100% 0; */
}

.about {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
