@import url(https://fonts.googleapis.com/css?family=Staatliches&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);

.brand {
  width: 10rem;
  height: 6rem;
  display: block;
}

@media only screen and (min-width:100em) {
  .brand {
    width: 15rem;
    height: 9rem;
  }
}

.brand__img {
  width: 100%;
  height: 100%;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  top: 3rem;
  right: 4rem;
  z-index: 1000;
  width: 4.2rem;
  cursor: pointer;
}

@media only screen and (min-width:120em) {
  .navigation__button {
    width: 6.2rem;
  }
}

.navigation__line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #94a4b4;
  -webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.275),background-color .3s ease-in;
  transition: all .3s cubic-bezier(.175,.885,.32,1.275),background-color .3s ease-in;
  vertical-align: middle;
  margin: auto;
}

.navigation__line:first-child,.navigation__line:nth-child(3) {
  -webkit-transform-origin: 5.5% 50%;
  transform-origin: 5.5% 50%;
}

@media only screen and (min-width:100em) {
  .navigation__line:first-child,.navigation__line:nth-child(3) {
    -webkit-transform-origin: 20.5% 50%;
    transform-origin: 20.5% 50%;
  }
}

.navigation__button:hover .navigation__line:first-child {
  -webkit-transform: translateY(-.4rem);
  transform: translateY(-.4rem);
}

.navigation__button:hover .navigation__line:nth-child(3) {
  -webkit-transform: translateY(.4rem);
  transform: translateY(.4rem);
}

.navigation__checkbox:checked+.navigation__button {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.275);
  transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}

.navigation__checkbox:checked+.navigation__button:hover {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}

.navigation__checkbox:checked+.navigation__button .navigation__line {
  background-color: #fff;
  -webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.275),background-color .3s ease-out;
  transition: all .3s cubic-bezier(.175,.885,.32,1.275),background-color .3s ease-out;
}

.navigation__checkbox:checked+.navigation__button .navigation__line:nth-child(2) {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.navigation__checkbox:checked+.navigation__button .navigation__line:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navigation__nav {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  background: #343a41;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.navigation__checkbox:checked~.navigation__nav {
  height: 100%;
}

.navigation__list {
  list-style: none;
  width: 60rem;
  margin: auto;
}

@media only screen and (max-width:31.25em) {
  .navigation__list {
    width: 80%;
  }
}

@media only screen and (min-width:100em) {
  .navigation__list {
    width: 80rem;
  }
}

.navigation__item {
  width: 100%;
}

.navigation__link:link,.navigation__link:visited {
  width: 100%;
  padding: 2.5rem 0;
  display: block;
  text-align: center;
  font-size: 3.5rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  background: #31363b;
}

.navigation__link span {
  position: relative;
}

.navigation__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #252a2e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.navigation__link:active,.navigation__link:focus,.navigation__link:hover {
  text-decoration: none;
}

.navigation__link:active:before,.navigation__link:focus:before,.navigation__link:hover:before {
  -webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.275);
  transition: all .3s cubic-bezier(.175,.885,.32,1.275);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.contact {
  position: absolute;
  top: 50%;
  left: -7rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 700;
}

@media only screen and (min-width:100em) {
  .contact {
    left: -12.5rem;
  }
}

.contact__list {
  list-style: none;
}

.contact__link:link,.contact__link:visited {
  display: block;
  color: #fff;
  font-size: 2.5rem;
  padding: 1.2rem;
  -webkit-transition: all .45s cubic-bezier(.175,.885,.32,1.275);
  transition: all .45s cubic-bezier(.175,.885,.32,1.275);
  text-decoration: none;
}

@media only screen and (max-width:31.25em) {
  .contact__link:link,.contact__link:visited {
    padding: 1rem;
  }
}

@media only screen and (min-width:100em) {
  .contact__link:link,.contact__link:visited {
    padding: 1.5rem;
    font-size: 2.8rem;
  }
}

.contact__link--linkedin {
  background-color: #0077b5;
}

.contact__link--github {
  background-color: #333;
}

.contact__link--email {
  background-color: #6fc2b0;
}

.contact__link--resume {
  background-color: #565f69;
}

.contact__link:active,.contact__link:focus,.contact__link:hover {
  -webkit-transform: translateX(6.4rem);
  transform: translateX(6.4rem);
}

.contact__label {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.6rem;
  margin-right: 1.2rem;
  width: 5.8rem;
  letter-spacing: 1px;
  text-align: right;
}

@media only screen and (min-width:100em) {
  .contact__label {
    width: 10.8rem;
  }
}

.footer {
  position: absolute;
  bottom: -7.5rem;
  left: 0;
  width: 100%;
  padding: 3rem;
  background: #171a1d;
  color: #94a4b4;
  font-size: 1.6rem;
  text-align: center;
  font-family: Inconsolata,sans-serif;
  border-top: 1px solid #343a41;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 8rem;
}

@media only screen and (max-width:50em) {
  .footer__item {
    display: block;
    text-align: left;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.footer__contact {
  display: inline-block;
}

.footer__contact:not(:last-child) {
  margin-right: 3rem;
}

@media only screen and (max-width:50em) {
  .footer__contact:not(:last-child) {
    margin-right: 3rem;
    margin-bottom: .5rem;
  }
}

.footer__link:link,.footer__link:visited {
  color: #fff;
  text-decoration: none;
}

#app {
  min-height: 100%;
  padding: 1.5rem;
  background-color: #22262a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

*,:after,:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
}

@media only screen and (max-width:62.5em) {
  html {
    font-size: 55.5%;
  }
}

@media only screen and (max-width:37.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width:143.75em) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width:187.5em) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width:237.5em) {
  html {
    font-size: 120%;
  }
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

main {
  width: 90%;
  margin: 2.5rem auto;
  margin-bottom: 8rem;
}

@media only screen and (max-width:62.5em) {
  main {
    width: 85%;
  }
}

@media only screen and (max-width:31.25em) {
  main {
    width: 78%;
  }
}

@media only screen and (min-width:87.5em) {
  main {
    width: 120rem;
  }
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: #171a1d;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #171a1d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #97bfd3;
}

body {
  font-family: Staatliches,sans-serif;
}

.row {
  max-width: 100%;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

@media only screen and (max-width:44.375em) {
  .row .col-1-of-2 {
    width: 95%;
  }

  .row .col-1-of-2:not(:last-child) {
    margin-bottom: 5rem;
  }
}